body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


#icono {
  color: white;
}

#icono1 {
  color: #337ab7;
  font-size: 75px;
}

.login,.lista{
  text-align: center;
  margin: 0 auto;
}


#username,#password{
  width: 300px;
  
}

#BLogin{

  width: 100px;
}

.item{
  width: auto;
  margin: 0.5em;
  padding: 0.4em;
  background-color: rgba(187,187,187,0.4);
  border-radius: 0.5em;
  text-decoration: none;
}
.item a{
  text-decoration: none;
}
ul{
  list-style: none;
}
