<div class="lista">
  <ul>
    <li class="item">
      {{#link-to 'register'}}
        Register
      {{/link-to}}
    </li>
    <li class="item">
      {{#link-to 'calculator'}}
        Calculator
      {{/link-to}}
    </li>
    <li class="item">
      {{#link-to 'people'}}
        List people
      {{/link-to}}
    </li>
  </ul>
</div>

{{outlet}}
