<div class="login">
  <input id="username" type="text" placeholder="Username" value={{username}}/> <br>
  <input id="password" type="password" placeholder="Password" value={{password}}/> <br>
  <button id="BLogin" type="button" {{action "login"}}>Login</button>
</div>
{{outlet}}
