<div class="text-center">
  <div id="msg1">

  </div>
  <div id="msg">

  </div>
  <span class="glyphicon glyphicon-leaf" aria-hidden="true" id="icono1"></span> <br>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <hr>

  <input id="username" class="form-control text-center" type="text" placeholder="Username" required/> <br>
  <input id="password" class="form-control text-center" type="password" placeholder="Password" required/> <br>
  <button id="BLogin" class="btn btn-lg btn-primary btn-block text-center" type="button"  {{action "login"}} >Login</button>
</div>

<!-- <label id="msg"></label> <br>
<body class="text-center">
  <form class="form-signin">

    <span class="glyphicon glyphicon-leaf" aria-hidden="true" id="icono1"></span>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername" class="sr-only">Email address</label>
    <input type="text" id="username" class="form-control" placeholder="Username" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" id="BLogin" type="button">Sing In</button>
  </form>
</body> -->

{{outlet}}
