<div class="login">
  <input id="username" type="text" value={{username}}/> <br>
  <input id="password" type="password" value={{password}}/> <br>
  <button type="button" {{action "login"}}>Ingresar </button>
</div>
{{outlet}}
