<div class="login">
  <label id="msg"></label> <br>
  <input id="username" type="text" placeholder="Username"/> <br>
  <input id="password" type="password" placeholder="Password"/> <br>
  <button id="BLogin" type="button"  {{action "login"}} >Login</button>
</div>
{{outlet}}
